<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style.css">
	<link rel="shortcut icon" href="../logo.svg" type="image/x-icon">
	<title>О нас</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="../index.html">Главная</a></li>
			<li><a href="our_services.html">Наши сервисы</a></li>
			<li><a class="about" href="">О нас</a></li>
			<li><a href="" onclick="signBtns()">Регистрация</a></li>
			<li><a href="" onclick="signBtns()">Вход</a></li>
		</ul>
	</nav>

	<div class="main">
		<h1>b9 - компания основанная в 02.02.2020.</h1>
	</div>

	<div class="footer">
		<nav>
			<ul>
				<li><a href="../index.html">Главная</a></li>
				<li><a href="our_services.html">Наши сервисы</a></li>
				<li><a class="about" href="">О нас</a></li>
			</ul>
		</nav>
	</div>

<style>
.body {}

.about {
	border-bottom: solid 1px #fff;
}
</style>
<script src="../script.js"></script>
</body>
</html>