<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style.css">
	<link rel="shortcut icon" href="../logo.svg" type="image/x-icon">
	<title>Наши сервисы</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="../index.html">Главная</a></li>
			<li><a class="our_services" href="">Наши сервисы</a></li>
			<li><a href="about.html">О нас</a></li>
			<li><a href="" onclick="signBtns()">Регистрация</a></li>
			<li><a href="" onclick="signBtns()">Вход</a></li>
		</ul>
	</nav>

	<div class="main">
		<h1>Компания "b9" обхватывает широкий спектр услуг и развлечений.</h1>

		<ul class="services">
			<li>War X</li>
			<li>Cooki</li>
			<li>Akshymkar KG</li>
			<li>4 bird</li>
			<li>5 bird</li>
			<li>6 bird</li>
			<li>7 bird</li>
			<li>8 bird</li>
			<li>9 bird</li>
		</ul>
	</div>

	<div class="footer">
		<nav>
			<ul>
				<li><a href="../index.html">Главная</a></li>
				<li><a class="our_services" href="">Наши сервисы</a></li>
				<li><a href="about.html">О нас</a></li>
			</ul>
		</nav>
	</div>

<style>
.services {
	display: inline-grid;
}

.our_services {
	border-bottom: solid 1px #fff;
}
</style>
<script src="../script.js"></script>
</body>
</html>